{% extends 'chat/base.html' %}
{% load static %}

{% block meta %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="w-50 mx-auto">
        <h1>Register</h1>
        <form action="{% url 'chat:signup' %}" method="post" class="mb-3">
            {% csrf_token %}
            <div class="mb-2 form-floating">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}"
                       class="form-label text-capitalize">{{ form.username.label }}</label>
            </div>
            <div class="mb-2 form-floating">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}"
                       class="form-label text-capitalize">{{ form.email.label }}</label>
            </div>
            <div class="mb-2 form-floating">
                {{ form.password }}
                <label for="{{ form.password.id_for_label }}"
                       class="form-label text-capitalize">{{ form.password.label }}</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <a href="{% url 'chat:login' %}"
           class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login --></a>
    </div>
{% endblock %}
