# PyCharm settings (if using PyCharm)
.idea/

# Virtual environment
venv/
.env
*.env

# Bytecode and temporary files
__pycache__/
*.py[cod]
*.swp
*.swo

# PostgreSQL-related files
*.dump
*.sql

# Django migration cache files
*.pyc

# Logs and debugging files
*.log
logs/

# Local settings (if applicable)
settings_local.py

# Compiled Python files
*.pyc
*.pyo

# ignore user pfps within the profile_pics directory
app/media/profile_pics/

# Except the folder itself and a placeholder file
/app/media/profile_pics/*
